#drilldown-button-container {
  display: none;
}

#theme-distribution-chart {
  height: 400px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-top: 32px;
}

#theme-distribution-chart .highcharts-markers .highcharts-point {
  fill-opacity: 1;
}
