.ta-impact-analysis-widget__item--issues {
  color: var(--issues,#ee627d);
}

.ta-impact-analysis-widget__item--strength {
  color:  var(--strength,#7cc700);
}

.ta-impact-analysis-widget .co-st-r-widget-kpi .target__number {
  flex-direction: column;
}
