.cj-cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.cj-card {
  padding: 8px 16px;
  border: 1px solid var(--light-divider-color);
  border-radius: 2px;
  width: 220px;
  margin: 16px 8px auto;
  cursor: pointer;
}

.cj-card__title {
  font-size: 22px;
  line-height: 24px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--light-divider-color);
  margin-bottom: 16px;
}

.cj-card__card-row {
  display: flex;
  justify-content: space-between;
}

.cj-card__card-row--key {
  font-weight: bold;
}

.cj-card__gauge {
  margin: 0 auto 16px;
}

.cj-card__gauge svg {
  overflow: visible;
}

.cj-card__metric-name {
  line-height: 24px;
  font-size: 12px;
  margin-right: 4px;
}

.cj-card__metric-value {
  text-align: right;
  line-height: 24px;
  font-size: 12px;
  margin-left: 4px;
}

.cj-card__card-row:not(:last-child) {
  border-bottom: 1px solid var(--light-divider-color);
}
