.cj-cards {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.cj-card__card-row {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.cj-card__metric-name {
  font: 400 1.071rem/1.26 Source Sans Pro, Arial, Helvetica, Geneva, sans-serif;
  line-height: 40px;
  margin-right: 4px;
}

.cj-card__metric-value {
  text-align: right;
  font: 400 1.071rem/1.26 Source Sans Pro, Arial, Helvetica, Geneva, sans-serif;
  line-height: 40px;
  margin-left: 4px;
}

.cj-card__card-row:not(:last-child) {
  border-bottom: 1px solid var(--light-divider-color);
}

.ta-cj-card {
  cursor: pointer;
}

.ta-cj-card .target__text {
  font-size: 12px;
}

.cj-cards .ta-info-icon {
  top: -40px;
  right: 8px;
}

.cj-cards .ta-info-text {
  top: -68px;
  right: 32px;
}

.cj-cards .widget__body {
  min-height: inherit;
}

.cj-cards .co-st-r-widget-kpi {
  min-height: inherit;
}
