#sig-sentiment-table .reportal-hierarchy-table tr.firstInBlock>td:nth-child(2) {
  white-space: normal;
  background: #f0f2f5;
  vertical-align: top;
  width: 30px;
  padding: 8px !important;
}

#sig-sentiment-table .reportal-hierarchy-table tr.firstInBlock:first-child > td:nth-child(2) {
  padding-top: 12px !important;
}

#sig-sentiment-table .reportal-hierarchy-table tr.firstInBlock:not(:first-child)>td {
  border-top: 3px #ccc double !important;
}

#sig-sentiment-table .aggregatedTableContainer > table > thead > tr > td:not(:first-child) {
  text-align: center;
}

#sig-sentiment-table .reportal-table>tbody>tr>td.sig_test_comments, .reportal-table>tbody>tr>td.sig_test_avg {
  width: 200px;
  text-align: center;
}

#sig-sentiment-table .reportal-table>tbody>tr>td[class*="_dc"] {
  text-align: center;
}

#sig-sentiment-total-table {
  display: none;
}
