@media print {
	body.reportal-viewmode{
		background-color: transparent;
	}

	.dashboard__main-wrapper.view-mode .dashboard__widget--small {
		width: calc(50% - 1.429rem);
	}

	.dashboard__main-wrapper.view-mode .dashboard__widget {
		border: 1px solid var(--divider-color);
	}

	table.Table thead td:first-child {
		background-color:transparent;
	}

	.side-nav,
	.comd-button__content___studio,
	.comd-button___studio,
	.text_headerorange,
	.text_header,
	.company-logo,
  .ta-info-icon,
  #chart-tables-switcher {
		display:none;
	}

	.page-break {
		page-break-after: always
	}

	.display-none {
		display:none;
	}

  .legend-wrapper {
    margin-left: 150px;
  }

  .legend-wrapper .legend {
    position: relative;
  }

  .legend-wrapper .legend:first-child {
    bottom: -10px !important;
  }

  .legend-wrapper .legend:last-child {
    bottom: -25px !important;
  }

  #sigTestingType {
    justify-content: flex-start !important;
    min-width: 700px;
  }
}
